/* All styles for your header Components live here */

/*---------------<HeaderContainer />:-------------*/

.header-container {
    display: flex;
    flex-flow: row wrap;
}

/*---------------<ImageThumbnail />:--------------*/

/*Logo div:*/
.header-container .logo-div {
    width: 10%;
    height: auto;
}

/*Logo:*/
.header-container .logo-div .logo {
    padding: 1%;
    margin: 15% auto 0;
    width: 100%;
    height: auto;
}

/*---------------<HeaderTitle />:----------------*/

/*Lambda School title div:*/
.header-container .header-title {
    padding-left: 0.2rem;
    width: 89%;
    display: flex;
    flex-flow: row wrap;

}

/*shared title-items class for spacing:*/
.header-container .header-title .title-items {
    margin: 2% 2px;
}

/*@lambdaSchool twitter link:*/
.header-container .header-title .twitter-link a {
    color: rgb(206, 206, 206);
    text-decoration: none;
}

/*Current date (day and month):*/
.header-container .header-title .date {
    color: rgb(206, 206, 206);
}

/*period in between @Lambda and date:*/
.header-container .header-title .period {
    color: rgb(206, 206, 206);
    margin-top: 0.39rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

/*---------------<HeaderContent />:--------------*/

/*header content text beneath title:*/
.header-container .header-content .content {
    margin: 0;
    padding-bottom: 1%;
}